<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://10.152.183.44:3308/bottracker</property>
        <property name="connection.username">root</property>
        <property name="connection.password">live@Bottomhalf_001</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>

        <property name="hibernate.proc.param_null_passing">true</property>

        <mapping class="com.bottrack.model.User" />
        <mapping class="com.bottrack.model.Roles" />
        <mapping class="com.bottrack.model.Menu" />
        <mapping class="com.bottrack.model.Login" />
        <mapping class="com.bottrack.model.VehicleDetail" />

    </session-factory>
</hibernate-configuration>